@page "/precios"
@using Crypto.PWA.Shared
@inject HttpClient Http

<h1>Precios de criptomonedas</h1>

<p>Precios actualizados.</p>

@if (coins == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Exchange</th>
                <th>Cripto</th>
                <th>Fiat</th>
                <th>Compras a</th>
                <th>Vendes a</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coin in coins)
            {            
                <tr>
                    <td>@coin.Exchange</td>
                    <td>@coin.Crypto</td>
                    <td>@coin.Fiat</td>
                    <td>@coin.AskStr</td>
                    <td>@coin.BidStr</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Coin[] coins;

    protected override async Task OnInitializedAsync()
    {
        coins = await Http.GetFromJsonAsync<Coin[]>("Coins");
    }

}
